@charset "utf-8";
/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #eee;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  display: inline-block;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  padding: 20px;
  text-transform: uppercase;
}

.breadcrumb {
  background-color: transparent;
  text-align: left;
}

#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 50%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #005fb1;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
.inside {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inside header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #maincontent {
  flex: 1 0 auto;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100vh - 67px);
  position: fixed;
  right: 0;
  top: 67px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  width: 50%;
}

#restaurant-name {
  color: #d47300;
  font-family: Arial,sans-serif;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 20px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  border-radius: 20px 0 0 0;
  max-width: 800px;
	width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  border-radius: 0 0 20px 0;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  max-width: 800px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-container, #reviews-container {
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px 10px;
  width: 50%;
}

#reviews-container h3{
  color: #d47300;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 20px 0;
  display: block;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
}

.review-container p {
  margin: 0;
}

.review-header {
  align-items: center;
  display: flex;
  background-color: #252831;
  justify-content: space-between;
  padding: 10px 15px;
}

.review-header .review-name {
  color: white;
  font-size: 18px;
}

.review-header .review-date {
  color: #dedede;
  text-shadow: black 1px 1px 1px;
}

.review-content {
  padding: 15px 20px 30px;
}

.review-content .review-rating {
  background-color: #ffa500;
  border-radius: 4px;
  color: #2d2d2d;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 0 10px;
  padding: 3px 15px;
  text-transform: uppercase;
}

.review-content .review-comments {
  color: #555;
}

#restaurant-hours td {
  color: #666;
}

/* ====================== Mobile Restaurant Details ====================== */
@media screen and (max-width: 700px) {
  #breadcrumb {
    width: 100%;
  }

  .inside #map-container {
    height: 300px;
    position: unset;
    width: 100%;
  }

  .inside #footer {
    width: 100%;
  }

  #restaurant-container, #reviews-container {
    width: 100%;
  }
}